FTP/FtpManagerCore/Service References/FtpManager/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GiantSoft.SocketServiceCore" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GiantSoft.SocketServiceCore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="SocketUser">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System" base="q1:MarshalByRefObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Disabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastLoginTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LoginTimes" type="xs:int" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserID" type="xs:long" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SocketUser" nillable="true" type="tns:SocketUser" />
  <xs:simpleType name="CreateUserResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UserNameAlreadyExist" />
      <xs:enumeration value="Success" />
      <xs:enumeration value="UnknownError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CreateUserResult" nillable="true" type="tns:CreateUserResult" />
</xs:schema>