FTP/FtpManagerCore/Service References/FtpManager/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GiantSoft.FtpService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GiantSoft.FtpService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GiantSoft.SocketServiceCore" />
  <xs:complexType name="ArrayOfFtpUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FtpUser" nillable="true" type="tns:FtpUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFtpUser" nillable="true" type="tns:ArrayOfFtpUser" />
  <xs:complexType name="FtpUser">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/GiantSoft.SocketServiceCore" base="q1:SocketUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="MaxDownloadSpeed" type="xs:int" />
          <xs:element minOccurs="0" name="MaxSpace" type="xs:long" />
          <xs:element minOccurs="0" name="MaxThread" type="xs:int" />
          <xs:element minOccurs="0" name="MaxUploadSpeed" type="xs:int" />
          <xs:element minOccurs="0" name="Root" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ThreadCount" type="xs:int" />
          <xs:element minOccurs="0" name="UsedSpace" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FtpUser" nillable="true" type="tns:FtpUser" />
</xs:schema>